{% extends "dashboard/layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">

  {% if current_user.user_group_id == 1 %}
  {% include 'dashboard/home/donor-dashboard.html' %}
  {% endif %}

  {% if current_user.user_group_id == 3 %}
  {% include 'dashboard/home/admin-dashboard.html' %}
  {% endif %}


  {% include 'dashboard/includes/footer.html' %}
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  {% if current_user.user_group_id == 1 %}
    {% include 'dashboard/home/donor-dashboard-charts.html' %}
  {% endif %}

  {% if current_user.user_group_id == 3 %}
    {% include 'dashboard/home/admin-dashboard-charts.html' %}
  {% endif %}
{% endblock javascripts %}